<ActionBar title="Whatsdown"> </ActionBar>
<!-- <Button text="Action" (tap)="alertx('Siktir git')"></Button> -->
<FlexboxLayout backgroundColor="#3c495e" width="100%">
  <Image src="~/assets/logo.png" height="60" />
  <Label
    flexGrow="1"
    text="second"
    width="70"
    backgroundColor="#075B88"
  ></Label>
  <Label text="third" width="70" backgroundColor="#1089CA"></Label>
</FlexboxLayout>
<GridLayout>
  <!-- <NavigationButton>testo</NavigationButton> -->
  <!-- <ListView [items]="itemService.items()">
      <ng-template let-item="item">
        <StackLayout [nsRouterLink]="['/item', item.id]">
          <Label [text]="item.name" class="text-lg text-gray-500 p-4"></Label>
        </StackLayout>
      </ng-template>
    </ListView> -->
</GridLayout>
