<ActionBar title="Whatsdown" backgroundColor="#e1e5e1">
  <ActionItem android.position="popup">Ayarlar</ActionItem>
  <ActionItem android.position="popup">Uygulama hakkında</ActionItem>
</ActionBar>

<GridLayout>
  <ListView [items]="itemService.items()">
    <ng-template let-item="item">
      <StackLayout [nsRouterLink]="['/item', item.id]">
        <FlexboxLayout class="p-2">
          <Image
            src="~/assets/khal.jpg"
            height="50"
            style="border-radius: 100%"
          />
          <StackLayout flexGrow="1" class="ml-2">
            <Label
              [text]="item.name"
              class="text-lg text-gray-500"
              flexGrow="1"
              text="second"
            ></Label>
            <Label [text]="item.role"></Label>
          </StackLayout>
        </FlexboxLayout>
        <!-- ></Label> -->
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
