<ActionBar [title]="item().name + ' ile mesajlaşma'">
  <NavigationButton
    text="Geri"
    android.systemIcon="ic_menu_back"
    (tap)="goBack()"
  />
</ActionBar>

<DockLayout stretchLastChild="true">
  <!-- <Label text="left" dock="left" width="40" backgroundColor="#43B3F4" /> -->
  <!-- <Label text="top" dock="top" height="40" backgroundColor="#1089CA" />
  <Label text="right" dock="right" width="40" backgroundColor="#43B3F4" />
  <Label text="bottom" dock="bottom" height="40" backgroundColor="#1089CA" /> -->
  <!-- <Label text="center" backgroundColor="#075B88" />
    -->
  <app-message-textbox-area dock="bottom"></app-message-textbox-area>

  <ScrollView flexGrow="1" #NsScrollView>
    <FlexboxLayout flexDirection="column">
      <app-message-item
        *ngFor="let msg of messages()"
        [item]="msg"
      ></app-message-item>
    </FlexboxLayout>
  </ScrollView>
</DockLayout>
